statemachine_def.txt
{
  "StartAt": "GetYogo",
  "States": {
   "GetYogo": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:704229799072:function:iyb_GetYogo",
      "Next": "Tweet"
    },
    "Tweet": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:704229799072:function:iyb_Tweet",
      "Retry": [{
        "ErrorEquals": [ "States.ALL" ],
        "IntervalSeconds": 30,
        "MaxAttempts": 2,
        "BackoffRate": 1.5
      }],
      "Next": "ResultCheck"
    },
   "ResultCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.offset",
          "NumericEquals": -1,
          "Next": "EndStep"
        }
      ],
      "Default": "Tweet"
    },
    "EndStep": {
      "Type": "Succeed"
    }
  }
}